<section>
  <h2>Create a new Blog</h2>

  <form class="newblog--form">
    <div>
      <label for="blog-title">Title</label>
      <input type="text" id="blog-title" name="blog-title" />
    </div>
    <div>
      <label for="blog-text">Post</label>
      <textarea id="blog-text" name="blog-text"></textarea>
    </div>
    <button type="submit" class="btn create--btn">Create</button>
  </form>
</section>

<script src="/js/newBlog.js"></script>